@page {
  size: A4;
  margin: 12mm;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  .receipt-print,
  .receipt-print * {
    visibility: visible !important;
  }

  .receipt-print {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 520px;
    padding: 32px;
    background: white;
    box-sizing: border-box;
  }

  .no-print {
    display: none !important;
  }
}
